@import "/byu-card-layout-common.scss";

:host {
    display: flex;
    flex-wrap: wrap;
}

:host([uniform]) {
    flex-direction: row;
    justify-content: space-evenly;
}

:host([non-uniform]) {
    flex-direction: column;
    max-height: 165vh;

    byu-card {
        display: table;
    }
}